localhost {
  reverse_proxy frontend:5000
}

localhost:3000 {
  reverse_proxy api_gateway:3000
}

localhost:6969 {
  reverse_proxy grafana:6969
}

localhost:9090 {
  basic_auth / {
    trans $2a$12$5CBQXJKCyTlTAHPgXHW65.bqpjHvZZjmz/M6nwpi90SDW9tto6T1y
  }
  reverse_proxy prometheus:9090
}
