localhost {
  reverse_proxy ft_transcendence_waf:8080
}

localhost:3000 {
  reverse_proxy ft_transcendence_waf:8080
}

localhost:6969 {
  reverse_proxy ft_transcendence_waf:8080
}

localhost:9090 {
  basic_auth / {
    trans $2a$14$W7/SJJkMUJaq73Ho2Acp8eD6GsQuug3oun4gRWxIkUIEXk.NAe2/G
  }
  reverse_proxy ft_transcendence_waf:8080
}

localhost:5601 {
  reverse_proxy ft_transcendence_waf:8080
}

localhost:8200 {
  reverse_proxy ft_transcendence_waf:8080
}
